<header>
	<!-- <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->
	<!-- {{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }} -->
	<h1 id='title'>Jonathan 偉良 Routley</h1>
    <div id='navbar'>
        <ul id='navlist'>
			<li class='navlistitem'>
				<a href='/index.html'>
					<span class='nav-text-long'>About</span>
					<span class='nav-text-short'><i class='material-icons md-20'>face</i></span>
				</a>
			</li>
            <li class='navlistitem'>
				<a href='/posts/'>
					<span class='nav-text-long'>Blog</span>
					<span class='nav-text-short'><i class='material-icons md-20'>speaker_notes</i></span>
				</a>
			</li>
			<li class='navlistitem'>
				<a href='/food/'>
					<span class='nav-text-long'>Food</span>
					<span class='nav-text-short'><i class='material-icons md-20'>fastfood</i></span>
				</a>
			</li>
			<li class='navlistitem'>
				<a href='/photography/'>
					<span class='nav-text-long'>Photography</span>
					<span class='nav-text-short'><i class='material-icons md-20'>camera_roll</i></span>
				</a>
			</li>
			<li class='navlistitem'>
				<a href='/code/'>
					<span class='nav-text-long'>Code</span>
					<span class='nav-text-short'><i class='material-icons md-20'>code</i></span>
				</a>
			</li>
        </ul>
	</div>
</header>
