<header>
	<!-- <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->
	<!-- {{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }} -->
	<h1 id='title'>Jonathan 偉良 Routley</h1>
    <div id='navbar'>
        <ul id='navlist'>
            <li class='navlistitem'><a href='/index.html'>About</a></li>
            <li class='navlistitem'><a href='/posts/'>Blog</a></li>
            <li class='navlistitem'><a href='/food/'>Food</a></li>
            <!-- <li class='navlistitem'><a href='/library/'>Library</a></li> -->
            <li class='navlistitem'><a href='/photography/'>Photography</a></li>
            <li class='navlistitem'><a href='/code/'>Code</a></li>
        </ul>
	</div>
</header>
