{{ define "main" }}
	<main>
		<p>Welcome to my new website</p>
		<ul>to-do:
			<li>Link code page to github</li>
			<li>Fix CSS so everything is centered</li>
			<li>Add Media tags</li>
			<li><ul>
				Implement Photography page features:
				<li>Lazy Load</li>
				<li>Infinite Scroll</li>
				<li>Lightbox</li>
				<li>Filtering</li>
			</ul></li>
			<li>Consider Footer design</li>
			<li>Think about food/blog pagination</li>
			<li>Write blog content</li>
			<li>Write intro/about page</li>
			<li>navbar highlights</li>
		</ul>

	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}
