<!-- insert images -->
{{ $albumUrl := print "/content/photography/images/" ($.Get 0)}}
{{ with .Resources.Match $albumUrl "/*.jpg" }}
    <div class="image">
    {{ range . }}
        <img src="{{ .RelPermalink }}">
    {{ end }}
    </div>
{{ end }}

<!-- legacy content, remove later if photoswipe gallery is successful -->
		<!-- <div class = "image_row">
			{{ with .Resources.Match "images/1/*.jpg" }}
				<div class="image_column">
					{{ range . }}
						{{ $image := .Resize "350x" }}
						<a href = "{{ .RelPermalink }}"><img class = 'image' src="{{ $image.RelPermalink }}"></a>
					{{ end }}
				</div>
			{{ end }}


			{{ with .Resources.Match "images/2/*.jpg" }}
				<div class="image_column">
					{{ range . }}
						{{ $image := .Resize "350x" }}
						<a href = "{{ .RelPermalink }}"><img class = 'image' src="{{ $image.RelPermalink }}"></a>
					{{ end }}
				</div>
			{{ end }}

			{{ with .Resources.Match "images/3/*.jpg" }}
				<div class="image_column">
					{{ range . }}
						{{ $image := .Resize "350x" }}
						<a href = "{{ .RelPermalink }}"><img class = 'image' src="{{ $image.RelPermalink }}"></a>
					{{ end }}
				</div>
			{{ end }}


			{{ with .Resources.Match "images/4/*.jpg" }}
				<div class="image_column">
					{{ range . }}
						{{ $image := .Resize "350x" }}
						<a href = "{{ .RelPermalink }}"><img class = 'image' src="{{ $image.RelPermalink }}"></a>
					{{ end }}
				</div>
			{{ end }}

		</div> -->



